@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.title {
  color: #dfbc60;
  font-size: 3em;
  font-family: 'Sacramento', cursive;
  padding: 0.4em;
  padding-top: 2rem;
}

.logo {
  position: relative;
  right: 10%;
  padding-top: 30px;
}

.MuiIcon-root {
  font-size: 3rem !important;
  padding-left: 0.3rem;
  padding-top: 0.8rem;
}

.MuiSvgIcon-root {
  width: 3rem !important;
  height: 3rem !important;
  padding-top: 0.8rem;
}
